@media screen and (max-width: 350px){
h1{font-size: medium;}
h2{font-size: x-small;}
p{font-size: x-small;}
hr{height: 1px}
.title{height: 25px;}
.firsttitle{height: 25px;}
.uda{
  height: auto;
  text-align: center;
  width: 98%;
  margin: 1%;
}
.foto{
  text-align: center;
  margin: 1%;
  width: 98%;
}
#picture img{
  width:98%;
  margin: 1%;
}
}
@media screen and (min-width: 351px){
.uda{
  height: auto;
  text-align: center;
  width: 23%;
  margin: 1%;
  min-width: 150px;
}
.foto{
  text-align: center;
  margin: 1%;
  width: 48%;
  min-width: 130px;
}
#picture img{
  width:70%;
  margin-left: 23%;
}
}
@media screen and (min-width: 351px) and (max-width: 499px){
h1{font-size: medium;}
h2{font-size: small;}
hr{height: 2px}
.title{height: 30px;}
.firsttitle{height: 30px;}
}
@media screen and (min-width: 500px) and (max-width: 899px){
h1{font-size:x-large;}
h2{font-size: medium;}
hr{height: 4px}
.title{height: 40px;}
.firsttitle{height: 40px;}
}
@media screen and (min-width: 900px){
h1{font-size: x-large;}
h2{font-size: large;}
hr{height: 6px}
.title{height: 50px;}
.firsttitle{height: 50px;}
}
@media screen and (min-width: 1280px){
body{width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: block;}
}
@font-face {
    font-family: 'Slavic';
    src: url(ttf/Slavik.ttf);
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #bde1fc;
  line-height: 1.5rem;
}
header{
  color: #1e11b8;
  display: flex;
}
footer{
    width: 100%;
    display: flex;
}
hr{
  border: none; /* Убираем границу */
  background-color: #1e11b8; /* Цвет линии */
  color: #1e11b8; /* Цвет линии для IE6-7 */
}
h1, h2, h3{
  font-family: 'Slavic', 'Comic Sans MS', cursive;
  text-align: right;
  padding-right: 30px;
  color: #1e11b8;
}
a{
  text-decoration: none;
  color: #1e11b8;
}
a:visited {
  color: #1e11b8;
}
.title{
  width: 65%;
}
.firsttitle{
  width: 100%;
}
.firsttitle h2{
  margin-right: 5%;
}
.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.foto img{
  width: 100%;
}
.uda img{
  width: 90%;
}
.logo{
  width: 30%;
}
.logo img{
  width: 90%;
  margin-left:5%;
  max-width: 100px;
}
#picture{
  width:100%
  }
#checks{
  width: 70%;
}
#rights{
  width: 30%;
  color: #1e11b8;
}
.ulogo{
  width: 30%;
}
.ulogo img{
  margin: 1%;
  width: 98%;
}
